---
import Time from "../components/Time.astro";
import { Article, FieldID } from "../types";
import ArticleSectionCode from "./ArticleSectionCode.astro";
import ArticleSectionText from "./ArticleSectionText.astro";

export interface Props {
  article: Article;
}

const {
  article: { title, publishedAt, updatedAt, description, sections },
} = Astro.props;
---

<article>
  <h2 class="text-3xl font-bold hover:underline inline-block">
    {title}
  </h2>
  <p class="mt-4 mb-4 text-xl text-gray-900">{description}</p>
  <p class="mt-2 text-sm text-gray-500">
    公開日: <Time date={publishedAt} />
  </p>
  <p class="mt-2 text-sm text-gray-500">
    最終更新日: <Time date={updatedAt} />
  </p>
  <div class="prose lg:prose-lg mx-auto max-w-6xl pt-4 pb-8 grid gap-4">
    {
      sections.map((section) => {
        if (section.fieldId === FieldID.ARTICLE_SECTION_CODE) {
          return (
            <ArticleSectionCode lang={section.lang[0]} code={section.code} />
          );
        }

        return <ArticleSectionText body={section.body} />;
      })
    }
  </div>
</article>
