---
import Time from "../components/Time.astro";
import { Article, FieldID } from "../types";
import ArticleHead from "./ArticleHead.astro";
import ArticleSectionCode from "./ArticleSectionCode.astro";
import ArticleSectionText from "./ArticleSectionText.astro";

export interface Props {
  article: Article;
}

const {
  article: { title, publishedAt, updatedAt, description, sections },
} = Astro.props;
---

<article>
  <ArticleHead
    title={title}
    description={description}
    publishedAt={publishedAt}
    updatedAt={updatedAt}
  />
  <div class="prose lg:prose-lg mx-auto max-w-6xl pt-4 pb-8 grid gap-4">
    {
      sections.map((section) =>
        section.fieldId === FieldID.ARTICLE_SECTION_CODE ? (
          <ArticleSectionCode lang={section.lang[0]} code={section.code} />
        ) : (
          <ArticleSectionText body={section.body} />
        )
      )
    }
  </div>
</article>
