---
import Time from "./Time.astro";
import RichText from "./RichText.astro";

export interface Props {
  id?: string;
  title: string;
  description: string;
  publishedAt: string;
  updatedAt: string;
}
const { id, title, description, publishedAt } = Astro.props;
---

<div class="container max-w-4xl mx-auto grid gap-4">
  <div class="flex items-center justify-between">
    <span class="text-sm">
      <Time date={publishedAt} />
    </span>
  </div>
  <div class="grid gap-4">
    {
      id == null ? (
        <h2 class="text-5xl font-bold hover:underline inline-block">{title}</h2>
      ) : (
        <a href={`/articles/${id}`}>
          <h2 class="text-5xl font-bold hover:underline inline-block">
            {title}
          </h2>
        </a>
      )
    }
    <div class="text-lg font-medium text-gray-800">
      <RichText body={description} />
    </div>
  </div>
  <div class="flex items-center justify-between">
    {
      id != null && (
        <a href={`/articles/${id}`} class="hover:underline">
          もっと読む
        </a>
      )
    }
  </div>
</div>

<!-- <div class="grid gap-2 lg:gap-4">
  {
    id == null ? (
      <h2 class="text-5xl font-bold hover:underline inline-block">{title}</h2>
    ) : (
      <a href={`/articles/${id}`}>
        <h2 class="text-5xl font-bold hover:underline inline-block">{title}</h2>
      </a>
    )
  }
  <div class="text-lg font-medium text-gray-800">
    <RichText body={description} />
  </div>
  <div class="grid">
    <p class="text-base text-gray-500">
      公開日: <Time date={publishedAt} />
    </p>
    <p class="text-base text-gray-500">
      最終更新日: <Time date={updatedAt} />
    </p>
  </div>
</div> -->
