---
import Time from "../components/Time.astro";

export interface Props {
  id?: string;
  title: string;
  description: string;
  publishedAt: string;
  updatedAt: string;
}
const { id, title, description, publishedAt, updatedAt } = Astro.props;
---

{
  id == null ? (
    <h2 class="text-3xl font-bold hover:underline inline-block">{title}</h2>
  ) : (
    <a href={`/articles/${id}`}>
      <h2 class="text-3xl font-bold hover:underline inline-block">{title}</h2>
    </a>
  )
}
<p class="mt-4 mb-4 text-xl text-gray-900">{description}</p>
<p class="mt-2 text-sm text-gray-500">
  公開日: <Time date={publishedAt} />
</p>
<p class="mt-2 text-sm text-gray-500">
  最終更新日: <Time date={updatedAt} />
</p>
