---
import type { Article } from "../types";
import ArticleHead from "./ArticleHead.astro";

export interface Props {
  articles: Article[];
}

const { articles } = Astro.props;
---

<section>
  {
    articles.map(({ id, title, description, publishedAt, updatedAt }) => (
      <ArticleHead
        id={id}
        title={title}
        description={description}
        publishedAt={publishedAt}
        updatedAt={updatedAt}
      />
    ))
  }
</section>
