---
import Time from "./Time.astro";
import { HEADER_NAV_ITEMS } from "../config";

export interface Props {
  title: string;
  description?: string;
  publishedAt?: string;
  activePath?: string;
}

const { title, description, publishedAt, activePath } = Astro.props;
---

<header
  class="pb-5 mb-16 flex justify-between items-center text-xl text-primary-medium"
>
  <a class="font-bold" href="/">ryokosuge.com</a>
  <nav>
    <ul class="flex gap-8 items-center justify-start list-none">
      {
        HEADER_NAV_ITEMS.map(({ name, path }) => (
          <li class={path === activePath ? "font-bold" : ""}>
            <a href={path}>{name}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
<div class="mb-16">
  <h1 class="w-[80%] text-8xl font-bold mb-16">
    {title}<span class="text-primary-dark">.</span>
  </h1>
  {
    publishedAt && (
      <div class="font-semibold text-lg text-gray-900 mb-4">
        <Time date={publishedAt} />
      </div>
    )
  }
  {
    description && (
      <div>
        <p class="text-xl text-gray-700">{description}</p>
      </div>
    )
  }
</div>
