---
import Time from "./Time.astro";
import { HEADER_NAV_ITEMS } from "../config";
import { NavMenu } from "./NavMenu";

export interface Props {
  title: string;
  description?: string;
  publishedAt?: string;
  activePath?: string;
}

const { title, description, publishedAt, activePath } = Astro.props;
---

<header
  class="mb-8 sm:mb-12 md:mb-16 flex justify-between items-center text-lg md:text-xl text-primary-medium"
>
  <a class="font-bold" href="/">ryokosuge.com</a>
  <NavMenu client:load items={HEADER_NAV_ITEMS} activePath={activePath} />
</header>
<div class="mb-6 sm:mb-10 md:mb-14">
  <h1
    class="text-4xl sm:text-6xl md:text-8xl sm:leading-tight md:leading-tight font-bold mb-4 sm:mb-6 md:mb-8"
  >
    {title}<span class="text-primary-dark">.</span>
  </h1>
  {
    publishedAt && (
      <div class="font-semibold text-sm sm:text-base md:text-lg text-gray-900 mb-2 sm:mb-3 md:mb-4">
        <Time date={publishedAt} />
      </div>
    )
  }
  {
    description && (
      <div>
        <p class="text-sm sm:text-base md:text-lg text-gray-700">
          {description}
        </p>
      </div>
    )
  }
</div>
