---
import Time from "./Time.astro";
import { SITE_HEADER_SOCIAL_LINKS } from "../config";

export interface Props {
  title: string;
  description?: string;
  publishedAt?: string;
}

const { title, description, publishedAt } = Astro.props;
---

<header
  class="pb-5 mb-16 flex justify-between items-center text-xl text-primary-medium"
>
  <a class="font-bold" href="/">ryokosuge.com</a>
  <nav>
    <ul class="flex gap-8 items-center justify-start list-none">
      {
        SITE_HEADER_SOCIAL_LINKS.map(({ link, name }) => (
          <li>
            <a href={link} target="_blank" rel="noopener">
              {name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
<div class="mb-16">
  <h1 class="w-[80%] text-8xl font-bold mb-16">
    {title}<span class="text-primary-dark">.</span>
  </h1>
  {
    publishedAt && (
      <div class="font-semibold text-lg text-gray-900 mb-4">
        <Time date={publishedAt} />
      </div>
    )
  }
  {
    description && (
      <div>
        <p class="text-xl text-gray-700">{description}</p>
      </div>
    )
  }
</div>
