---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  siteTitle: string;
  siteDescription: string;
  title: string;
  description?: string;
  publishedAt?: string;
  activePath?: string;
}

const {
  siteTitle,
  siteDescription,
  title,
  description,
  publishedAt,
  activePath,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={siteTitle} description={siteDescription} />
  </head>
  <body
    class="min-h-[100vh] m-auto bg-slate-50 box-border border-solid border-primary-dark border-[0.75rem] sm:border-[1rem]"
  >
    <div class="max-w-5xl m-auto p-8 md:p-14">
      <Header
        title={title}
        description={description}
        publishedAt={publishedAt}
        activePath={activePath}
      />
      <main
        class="mx-auto grid grid-cols-1 mb-10 sm:mb-12 md:mb-16 md:grid-cols-4 gap-2"
      >
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
