---
import Time from "../components/Time.astro";
import type { Article } from "../types";

export interface Props {
  article: Article;
}

const {
  article: { title, eyecatch, publishedAt, updatedAt },
} = Astro.props;
---

<style>
  .title {
    font-size: 2em;
    margin: 0.25em 0 0;
  }
  hr {
    border-top: 1px solid #ddd;
    margin: 1rem 0;
  }
</style>

<article>
  {
    eyecatch && (
      <img
        width={eyecatch.width}
        height={eyecatch.height}
        src={eyecatch.url}
        alt=""
      />
    )
  }
  <h2 class="title">{title}</h2>
  <p>
    公開日: <Time date={publishedAt} />
  </p>
  <p>
    最終更新日: <Time date={updatedAt} />
  </p>
  <hr />
  <slot />
</article>
