---
import Layout from "../layouts/Layout.astro";
import Time from "../components/Time.astro";

export interface Props {
  title: string;
  description: string;
  pubDate: string;
  updatedDate: string;
  heroImage?: string;
}

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<style>
  .title {
    font-size: 2em;
    margin: 0.25em 0 0;
  }
  hr {
    border-top: 1px solid #ddd;
    margin: 1rem 0;
  }
</style>

<Layout title={title} description={description}>
  <article>
    {heroImage && <img width={720} height={360} src={heroImage} alt="" />}
    <h2 class="title">{title}</h2>
    <p>
      公開日: <Time date={pubDate} />
    </p>
    <p>
      最終更新日: <Time date={updatedDate} />
    </p>
    <hr />
    <slot />
  </article>
</Layout>
