---
import Layout from "../layouts/Layout.astro";
import Time from "../components/Time.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

import { getBlogs } from "../libs/microcms";
const posts = await getBlogs();
---

<style>
  ul {
    list-style-type: none;
    padding: unset;
  }
  ul li {
    display: flex;
  }
  ul li time {
    flex: 0 0 130px;
    font-style: italic;
    color: #595959;
  }
  ul li a:visited {
    color: #8e32dc;
  }
</style>

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section>
    <ul>
      {
        posts.contents.map((content) => (
          <li>
            <Time date={content.publishedAt} />
            <a href={`/blogs/${content.id}`}>{content.title}</a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
