---
import BaseLayout from "../layouts/BaseLayout.astro";
import Time from "../components/Time.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import type { Blog } from "../types";

export interface Props {
  contents: Blog[];
}

const { contents } = Astro.props;
---

<style>
  ul {
    list-style-type: none;
    padding: unset;
  }
  ul li {
    display: flex;
  }
  ul li time {
    flex: 0 0 130px;
    font-style: italic;
    color: #595959;
  }
  ul li a:visited {
    color: #8e32dc;
  }
</style>

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section>
    <ul>
      {
        contents.map((content) => (
          <li>
            <Time date={content.publishedAt} />
            <a href={`/blogs/${content.id}`}>{content.title}</a>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
