---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  siteTitle: string;
  siteDescription: string;
  title: string;
  description?: string;
  publishedAt?: string;
  activePath?: string;
}

const {
  siteTitle,
  siteDescription,
  title,
  description,
  publishedAt,
  activePath,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={siteTitle} description={siteDescription} />
  </head>
  <body
    class="min-h-[100vh] p-[50px] m-auto box-border border-primary-dark border-[18px] border-solid"
  >
    <div class="max-w-[1000px] m-auto">
      <Header
        title={title}
        description={description}
        publishedAt={publishedAt}
        activePath={activePath}
      />
      <main
        class="p-4 max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-4 gap-2 lg:gap-4"
      >
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
